<h1>Sobre</h1>
<br>

<div>
    <h4>Descrição</h4>
    <p>O TarefasMVC é um aplicativo web desenvolvido em ASP.NET Core MVC, com funcionalidades CRUD, destinado a criação e organização de tarefas do usuário, similar ao Google Tarefas, 
    de maneira simplificada. 
    <br>O projeto foi criado com o objetivo de explorar e desenvolver minhas habilidades em ASP.NET e C#.
    Ele encontra-se integrado com o SQL Server e utiliza o Entity Framework para trabalhar com o banco de dados.
    </p>
    <h4>Funcionalidades</h4>
    <ul>
        <li>Organiza as tarefas em Concluídas, Atrasadas e Em Andamento</li>
        <li>Adicionar, visualizar, editar e apagar tarefas</li>
        <li>Layout desenvolvido com o framework Bootstrap, embora ainda não totalmente responsivo, sendo melhor visualizado em desktop</li>
    </ul>
    <p>O projeto encontra-se disponível no GitHub - <a href="https://github.com/KalebeGouvea/tarefas-app">https://github.com/KalebeGouvea/tarefas-app</a></p>
</div>